{% extends 'base.html' %}
{% block title_block %}
Welcome {{username}}!|{{block.super}}
{% endblock title_block %}
{% block body_block %}
<div id="status"></div>
<form id="search-form" >
    <input type="text" name="search" id="search" placeholder="Enter equipment name here">
    <button type="submit">Search Sellers</button>
</form>
<form id="stop-form">
    <button type="submit" disabled>Stop Search</button>
</form>
<div id="result"></div>
{% endblock body_block  %}
{% block script_block %}
<script>
    $(document).ready(function () {
            var interval_connect = setInterval(function () {
            $.get("/ajax/connected/", function (data) {
                console.log(data);
                var finished = true
                for(var i = 0; i < data.length; i++){
                    if(data[i].searching == "True"){
                        $("#status").html("Searching...");
                        finished = false;
                        break;
                    }
                    if(!data[i].logs.includes("{{LOGS.SEARCH_FINISHED}}")){
                        finished = false;
                    }
                }
                if(finished){
                    $.get("/ajax/file_urls/", function (links) {
                        console.log(links);
                        var links_tags = ""
                        for(var i = 0; i < links.length; i++){
                            if(links[i].url !== '') {
                                links_tags = "<a href='" + links[i].url + "'>Download " + links[i].name + "</a><br>";
                            }
                        }
                        $("#result").html(links_tags)
                    });
                    $("#status").html("Search Finished...");
                }
            }).fail(function (xhr, ajaxOptions, thrownError) {
                $("#connect_result").html("Unexpected Error: " + thrownError);
                clearInterval(interval_connect);
            });
        }, 3000);

    });
    $("#search-form").submit(function (event) {
        event.preventDefault();
        $.get("/ajax/search?query=" + $("#search").val(), function (data) {
            $("#result").html(data);
            if(data.startsWith("{{ResponseStrings.SUCCEED}}"))
            {
                $("#search-form>button").prop( "disabled", true );
                $("#stop-form>button").prop( "disabled", false );

            }

        }).fail(function (xhr, ajaxOptions, thrownError) {
            $("#result").html("Unexpected Error: " + thrownError);
        });
    });
    $("#stop-form").submit(function (event) {
        event.preventDefault();
        $.get("/ajax/stop-search/", function (data) {

            if(data.startsWith("{{ResponseStrings.SUCCEED}}"))
            {
                $("#search-form>button").prop( "disabled", false );
                $("#stop-form>button").prop( "disabled", true );
                $("#result").html("Stopping...");

            } else {
                $("#result").html(data);
            }
        }).fail(function (xhr, ajaxOptions, thrownError) {
            $("#result").html("Unexpected Error: " + thrownError);
        })

    });
</script>
{% endblock script_block  %}